{% extends 'flatpages/default.html' %}
{% load custom_filters %}
 
{% load i18n %}
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->

{% block title %}
{% trans 'Post' %}
{% endblock title %}


 
{% block content %}
{% include "translation.html" %}

<h3>{% trans 'All news:' %}</h3>

<hr>

<!--    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} &lt;!&ndash; Не забываем по csrf_token для POST-запросов &ndash;&gt;-->
<!--        <input type="hidden" name="next" value="{{ redirect_to }}">-->

<!--        <select name="language" id="">-->
<!--            {% get_available_languages as LANGUAGES %} &lt;!&ndash; получаем языки &ndash;&gt;-->
<!--            {% get_language_info_list for LANGUAGES as languages %} &lt;!&ndash; Помещаем их в список languages &ndash;&gt;-->

<!--            {% for language in languages %} &lt;!&ndash; Итерируясь по списку, выводим их название на языке пользователя и код &ndash;&gt;-->
<!--                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected >{% endif %} >-->
<!--                    {{ language.name_local }} - {{ language.code }}-->
<!--                </option>-->
<!--            {% endfor %}-->
<!--        </select>-->
<!--        <input type="submit" value="set">-->
<!--    </form>-->
{% if news %}
<table>
    <tr>
    <td>{% trans 'Title' %}</td>
    <td>{% trans 'Date' %}</td>
    <td>{% trans 'Description' %}</td>
    <td>{% trans 'Category' %}</td>
    </tr>
    {% for i in news %}
    <tr>
        <td>{{ i.title}} </td>
        <!-- <td>{{ i.title|censor}} </td> -->
        <td>{{ i.dateCreation|date:'M d Y' }}</td>
        <td>{{ i.text|truncatewords:20 }}</td>
         <td>{{ i.categoryType }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">&laquo;</a>
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}


{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
<a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
{% endif %}
{% endblock content %}